<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>create post</title>
    <link rel="stylesheet" type="text/css" href="https://s-xem.mkocdn.com/bundles/mkoxem/css/xem.css">
    <script>
        $(document).ready(function () {
            $('#saveButton').click(function (event) {
                var form = $('#newUserForm')[0];
                var data = new FormData(form);
                $("#saveButton").prop("disabled", true);

                $.ajax({
                    enctype: 'multipart/form-data',
                    type: "POST",
                    data: data,
                    url: "/account/create",
                    // ngăn jQuery tự động chuyển đổi dữ liệu thành chuỗi truy vấn
                    processData: false,
                    contentType: false,
                    success: function (user) {
                        var respContent = "";
                        respContent += "<span class='success'>user was created: [";
                        respContent += smartphone.username + "]</span>";
                        $("#sPhoneFromResponse").html(respContent);
                    }
                });
                event.preventDefault();
            });
        });
    </script>
</head>
<body>
<div th:replace="~{layout/layout::header(${user})}"></div>
<h1>CREATE USER</h1>
<div id="content">
    <div id="mainContainer">
        <div id="leftColumn">
            <div class="mainBox" >
                <h3 id="#sPhoneFromResponse"></h3>
                <form id="#newUserForm" method="post" th:object="${user}" action="/account/create" enctype="multipart/form-data">
                    <table>
                        <tr>
                            <td>
                                <label>username:
                                </label>
                            </td>
                            <td>
                                <input type="text" th:field="*{username}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>password:
                                </label>
                            </td>
                            <td>
                                <input type="password" th:field="*{password}" id="password_field">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Avatar:</label>
<!--                                <img class="avatar_comment" src="/#" width="100" height="100">-->
                            </td>
                            <td>
                                <input type="file" th:field="*{avatarFile}">
<!--                                <input type="hidden" id="form_avatarUrl" name="form[avatarUrl]" value="/#">-->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="buttonSet">
                                    <button class="buttons submitButton" type="submit" id="saveButton" title="Đăng ảnh">
                                        Đăng ảnh
                                    </button>
                                    <a class="buttons cancelButtons" href="/" title="Bỏ qua">Bỏ qua</a>
                                </p>                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>



</form>
</body>
</html>