<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function setEnableSubmit(retype_pass) {
            let password = document.getElementById("password_field").value;
            if (password === retype_pass) {
                document.getElementById("button-create").disabled = false;
            } else {
                document.getElementById("button-create").disabled = true;
            }
            console.log('password = ' + password)
            console.log('retype = ' + retype_pass)
        }
    </script>
</head>
<body>
<h1>CREATE USER</h1>
<div id="content">
    <div id="mainContainer">
        <div id="leftColumn">
            <div class="mainBox">
                <form action="" method="post" th:object="${user}" enctype="multipart/form-data" class="submitForm">
                    <p class="required">
                        <label for="form_email" class="required">Email</label>
                        <input type="text" id="form_email" name="form[email]" required="required" class="text mediumWidth" disabled="disabled" value="huy8895@gmail.com">
                    </p>

                    <p class="required">
                        <label class="required">Tên đăng nhập</label>
                        <input class="text mediumWidth" disabled="true" id="userName" name="userName" type="text" value="trinhvanhuy8895">
                    </p>

                    <p class="required">
                        <label for="" class="required">Tên hiển thị</label>
                        <input class="text mediumWidth valid" data-val="true" data-val-length="Không nhập quá 50 ký tự." data-val-length-max="50" data-val-regex="Cần ít nhất 3 chữ số hoặc chữ cái" data-val-regex-pattern="(.*?[0-9a-zA-Z]){3}.*" data-val-required="Tên hiển thị là bắt buộc." id="name" name="name" type="text" value="Tiểu Cường">
                        <span class="field-validation-error" data-valmsg-for="name" data-valmsg-replace="true"><span for="name" generated="true" class=""></span></span>

                    </p>
                    <p>
                        <label>Avatar</label>
                        <img class="avatar" src="https://i-xem.mkocdn.com/i.xem.sb/data/avatar/20160424/924fa438bcfb4f3c8d28038a4f542b93/thumbnail-acc87bbed1cb4c0bb554e6c9720a6f3d.jpg" width="100" height="100">
                        <input type="file" name="avatarFile">
                        <input type="hidden" id="form_avatarUrl" name="form[avatarUrl]" value="/data/avatar/20160424/924fa438bcfb4f3c8d28038a4f542b93/thumbnail-acc87bbed1cb4c0bb554e6c9720a6f3d.jpg">
                    </p>

                    <p>
                        <label for="form_websites">Website</label>
                        <input type="text" id="form_websites" name="form[websites]" class="text mediumWidth">

                    </p>
                    <p>
                        <label for="form_about">Giới thiệu</label>
                        <input type="text" id="form_about" name="form[about]" class="text mediumWidth">

                    </p>

                    <p class="buttonSet">
                        <button type="submit" class="buttons submitButton" title="Cập nhật">Cập nhật</button>
                        <a class="buttons cancelButtons" href="/" title="Bỏ qua">Bỏ qua</a>
                    </p>
                    <p>
                    </p><h4> <a href="/account/password" title="Đổi mật khẩu">Đổi mật khẩu</a></h4>
                    <p></p>
                </form>
            </div>
        </div>
    </div>
</div>
<form method="post" action="/account/create" th:object="${user}">
    <table>
        <tr>
            <td>
                <label>username:
                </label>
            </td>
            <td>
                <input type="text" th:field="*{username}">
            </td>
        </tr>
        <tr>
            <td>
                <label>password:
                </label>
            </td>
            <td>
                <input type="password" th:field="*{password}" id="password_field" oninput="setEnableSubmit(this.value)">

            </td>
        </tr>
        <tr>
            <td>
                <label>password retype:
                </label>
            </td>
            <td>
                <input type="password" oninput="setEnableSubmit(this.value)">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="create" id="button-create" disabled>
            </td>
        </tr>
    </table>
</form>


</form>
</body>
</html>