<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/layout::head}"></head>
<body>
<div th:replace="~{layout/layout::header(${user})}"></div>
<div id="content">
    <div id="mainContainer">
        <div id="leftColumn">
            <div class="mainBox">
                <div class="mainBox infoBox inputForm updateAccount">
                    <h3>Cập nhật thông tin cá nhân</h3>
                    <form th:object="${user}" action="" method="post" enctype="multipart/form-data" class="submitForm">
                        <p class="required">
                            <label class="required">Tên đăng nhập</label>
                            <input class="text mediumWidth" disabled="true" id="userName" th:field="*{username}"
                                   type="text">
                        </p>

                        <p class="required">
                            <label class="required">Tên hiển thị</label>
                            <input class="text mediumWidth valid" data-val="true"
                                   data-val-length="Không nhập quá 50 ký tự."
                                   data-val-length-max="50" data-val-regex="Cần ít nhất 3 chữ số hoặc chữ cái"
                                   data-val-regex-pattern="(.*?[0-9a-zA-Z]){3}.*"
                                   data-val-required="Tên hiển thị là bắt buộc." id="name" th:field="*{fullName}"
                                   type="text">
                            <span class="field-validation-error" data-valmsg-for="name" data-valmsg-replace="true"><span
                                    for="name" generated="true" class=""></span></span>
                        </p>
                        <p>
                            <label>Avatar</label>
                            <img class="avatar_comment" th:src="@{'/'+${user.avatarFileName}}" width="100" height="100">
                            <input type="file" th:field="*{avatarFile}"/>
                            <input type="hidden" th:field="*{avatarFileName}"/>
                        </p>


                        <p class="buttonSet">
                            <button type="submit" class="buttons submitButton" title="Cập nhật">Cập nhật</button>
                            <a class="buttons cancelButtons" href="/" title="Bỏ qua">Bỏ qua</a>
                        </p>
                        <p>
                        </p><h4><a href="/account/password" title="Đổi mật khẩu">Đổi mật khẩu</a></h4>
                        <p></p>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>