<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://s-xem.mkocdn.com/bundles/mkoxem/css/xem.css">

</head>
<body>
<div th:fragment="~{/layout/layout::header(${user})}"></div>
<div id="content">
    <div id="mainContainer">
        <div id="leftColumn">
            <div class="mainBox">
                <div class="mainBox inputForm updateAccount">
                    <h3>
                        Cập nhật mật khẩu</h3>
                    <form name="form" method="post" action="" class="submitForm">
                        <p>
                            Ngoài cách đăng nhập vào xem.vn bằng tài khoản Facebook, bạn có thể đặt mật khẩu để đăng nhập bằng email và mật khẩu trong trường hợp không vào được Facebook
                            hoặc mất tài khoản Facebook.
                        </p>

                        <p class="required">
                            <label for="form_new" class="required">Mật khẩu mới</label>
                            <input type="password" id="form_new" name="form[new]" required="required" class="text mediumWidth">

                        </p>


                        <p class="required">
                            <label for="form_confirmNew" class="required">Xác nhận mật khẩu mới</label>
                            <input type="password" id="form_confirmNew" name="form[confirmNew]" required="required" class="text mediumWidth">

                        </p>

                        <p class="buttonSet">
                            <button type="submit" class="buttons submitButton" title="Cập nhật">Cập nhật</button>
                            <a class="buttons cancelButtons" href="/" title="Bỏ qua">Bỏ qua</a>
                        </p>
                        <input type="hidden" name="form[_token]" value="M3EuCzQfqJglKAkve9qUhqh6jrFXiJtvjrsASNW32E8">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>