<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://s-xem.mkocdn.com/bundles/mkoxem/css/xem.css">
    <!--    <link rel="stylesheet" href="/css/xemvn.css">-->
</head>
<body>
<div th:replace="~{layout/layout::header}"></div>

<div id="content">
    <div id="mainContainer">
        <div id="leftColumn">
            <div class="mainBox">
                <h3> Ảnh chế mới</h3>
                <div class="tips"><b>Mẹo: </b>Hãy giúp <b>xem.vn <a href="/vote">bình chọn ảnh</a></b> để nhiều ảnh hay
                    xuất hiện ở đây hơn
                </div>
                <div id="homepage_banner" class="windowContainer"
                     style="font-size:14px;line-height: 20px;font-style: italic;padding: 10px;">
                    <h3 style="font-size: 16px;text-align:center;font-style:normal">DANH SÁCH “TOP DANH HÀI TUẦN”
                        4-10/7/2016</h3>
                    BQT xem.vn xin thông báo DANH SÁCH “TOP DANH HÀI TUẦN” từ ngày 4/7/2016 tới ngày 10/7/2016.
                    <br><br>
                    <b>Danh sách chi tiết:</b> <a style="color:red" href="http://xem.vn/top-danh-hai/20"
                                                  target="_blank">“TOP DANH HÀI TUẦN” 4-10/7/2016</a>
                    <br><br>
                    Hy vọng <b>xem.vn</b> ngày một phát triển và trở thành một cộng đồng lành mạnh, tích cực cho giới
                    trẻ Việt Nam.
                    <br><br>
                    <b>Trân trọng!</b>
                    <br>
                    BQT xem.vn
                </div>
                <div class="photoList">
                    <div class="photoListItem" data-id="1402992" data-newly-listed="True" data-nsfw="False">
                        <div class="listItemSeparator"></div>
                        <div class="thumbnail">
                            <a href="/la-do-ban-thoi-1402992.html" target="_blank" title="Là do bạn thôi">
                                <img src="https://i-xem.mkocdn.com/i.xem.sb/data/photo/2020/10/02/004/la-do-ban-thoi-1601602104-400.jpg"
                                     alt="Là do bạn thôi" class="thumbImg">
                            </a>
                        </div>

                        <div class="info">
                            <h2>
                                <a target="_blank" href="/la-do-ban-thoi-1402992.html" title="Là do bạn thôi">Là do bạn
                                    thôi</a>
                            </h2>
                            <div class="uploader">
                                Đăng bởi <a href="/uploader/146575" title="toikobik">toikobik</a>
                                2 giờ trước
                            </div>

                            <div class="stats">
                                <div class="viewComments">
                                    <span class="views" title="Views">61</span>
                                    <span class="comments" title="Comments">0</span>
                                </div>
                                <div class="likesWrapper">
                                    <div class="fb-like fb_iframe_widget" data-href="http://xem.vn/photo/1402992"
                                         data-layout="button_count" data-action="like" data-size="small"
                                         data-share="true" fb-xfbml-state="rendered"
                                         fb-iframe-plugin-query="action=like&amp;app_id=181604928677768&amp;container_width=0&amp;href=http%3A%2F%2Fxem.vn%2Fphoto%2F1402992&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;size=small">
                                        <span style="vertical-align: bottom; width: 128px; height: 20px;"><iframe
                                                name="f3619aa99f4b9b8" width="1000px" height="1000px"
                                                data-testid="fb:like Facebook Social Plugin"
                                                title="fb:like Facebook Social Plugin" frameborder="0"
                                                allowtransparency="true" allowfullscreen="true" scrolling="no"
                                                allow="encrypted-media"
                                                src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=181604928677768&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3d3122f4aedfa8%26domain%3Dxem.vn%26origin%3Dhttps%253A%252F%252Fxem.vn%252Ff7d2c9cec3ccc%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fxem.vn%2Fphoto%2F1402992&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;size=small"
                                                style="border: none; visibility: visible; width: 128px; height: 20px;"
                                                class=""></iframe></span></div>
                                </div>
                                <div class="clear"></div>
                            </div>

                        </div>
                        <div class="clear">
                        </div>
                    </div>
                    <div class="photoListItem" th:each="post: ${posts}" data-id="1402992" data-newly-listed="True" data-nsfw="False" >
                        <div class="listItemSeparator"></div>
                        <div class="thumbnail">
                            <a href="/#" target="_blank" th:title="${post.title}">
                                <img th:src="@{'/content/'+${post.photoName}}"
                                     th:alt="${post.title}" class="thumbImg">
                            </a>
                        </div>

                        <div class="info">
                            <h2>
                                <a target="_blank" href="/#" th:title="${post.title}" th:text="${post.title}"></a>
                            </h2>
                            <div class="uploader">
                                Đăng bởi <a th:href="@{${post.appUser.username}}" th:title="${post.appUser.username}" th:text="${post.appUser.username}">toikobik</a>
                                2 giờ trước
                            </div>
                            <div class="stats">
                                <div class="viewComments">
                                    <span class="views" title="Views">61</span>
                                    <span class="comments" title="Comments">0</span>
                                </div>
                                <div class="likesWrapper">
                                    <div class="fb-like fb_iframe_widget" data-href="http://xem.vn/photo/1402992"
                                         data-layout="button_count" data-action="like" data-size="small"
                                         data-share="true" fb-xfbml-state="rendered"
                                         fb-iframe-plugin-query="action=like&amp;app_id=181604928677768&amp;container_width=0&amp;href=http%3A%2F%2Fxem.vn%2Fphoto%2F1402992&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;size=small">
                                        <span style="vertical-align: bottom; width: 128px; height: 20px;"><iframe
                                                name="f3619aa99f4b9b8" width="1000px" height="1000px"
                                                data-testid="fb:like Facebook Social Plugin"
                                                title="fb:like Facebook Social Plugin" frameborder="0"
                                                allowtransparency="true" allowfullscreen="true" scrolling="no"
                                                allow="encrypted-media"
                                                src="https://www.facebook.com/plugins/like.php?action=like&amp;app_id=181604928677768&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3d3122f4aedfa8%26domain%3Dxem.vn%26origin%3Dhttps%253A%252F%252Fxem.vn%252Ff7d2c9cec3ccc%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Fxem.vn%2Fphoto%2F1402992&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;size=small"
                                                style="border: none; visibility: visible; width: 128px; height: 20px;"
                                                class=""></iframe></span></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                    <div id="listEnd"></div>
                    <div class="listItemSeparator"></div>
                    <p class="loading" style="display: none">
                        <img src="https://s-xem.mkocdn.com/bundles/mkoxem/images/loading.gif" alt="loading">
                        <br>
                        Đang tải thêm ảnh...
                    </p>
                </div>
                <div class="tag-footer">
                    <br><br><br><br>
                </div>

                <div th:replace="~{layout/layout::footer}"></div>
            </div>
        </div>
    </div>

</div>

<table>
    <tr>

    </tr>
</table>

</body>
</html>