<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
<div sec:authorize="isAuthenticated()">
<h1> Dear <span sec:authentication="principal.username"></span> Welcome to Admin Page</h1>
</div>

<div sec:authorize="isAuthenticated()">
    <div sec:authorize="hasRole('USER')">
        <a th:href="@{/user}">My Profile</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/admin/user-manager}">list account manager</a>
        <a th:href="@{/admin/post-manager}">list post manager</a>
    </div>
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>