<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Admin Manage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script th:src="@{/js/app.js}"></script>
    <style>
        .modal-1000 {
            max-width: 90%;
            margin: 80px auto;
        }
    </style>
</head>
<body>

<header th:replace="~{layout/layout::header(${user})}"></header>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-2 ">
        </div>
        <div class="col-sm-8">
           <table class="table">
               <tr>
                   <th>UserID</th>
                   <th>Username</th>
                   <th>Full Name</th>
                   <th>Avatar</th>
                   <th>Role</th>
                   <th>Action</th>
               </tr>
               <tr th:each="appUser : ${users}">
                    <td th:text="${appUser.id}"></td>
                    <td th:text="${appUser.username}"></td>
                    <td th:text="${appUser.fullName}"></td>
                    <td><img th:src="@{'/'+${appUser.avatarFileName}}" width="30px" height="30px"></td>
                    <td th:text="${appUser.role.name}" th:id="'role-'+${appUser.id}"></td>
                    <td><button th:onclick="'blockUser(\''+${appUser.id} + '\')'" type="button">Block</button></td>
               </tr>
           </table>
        </div>
        <div class="col-sm-2 ">
        </div>
    </div>
</div>
</body>
</html>
