<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout::head}"></head>
<body>
<div class="container">
    <div th:if="${param.logout}" class="alert alert-info">You have been logged out</div>
    <div th:if="${param.error}" class="alert alert-danger">There was an error, please try again</div>
    <div th:if="${messageLogin}" th:text="${messageLogin}">
    </div>
    <h1 class="col-sm-12">Login</h1>
    <form th:action="@{/login}" method="POST" th:object="${fbUser}">
        <div class="row col-sm-6">
            <div class="form-group" >
                <label class="col-sm-3">Username</label>
                <span class="col-sm-9">
                    <input class="form-control" type="text" th:if="${fbUser}" th:field="*{username}" name="username"/>
                    <input class="form-control" type="text" th:unless="${fbUser}"  name="username"/>
                </span>
            </div>
            <br/>
            <div class="form-group">
                <label class="col-sm-3">Password</label>
                <span class="col-sm-9">
                    <input class="form-control" type="text" name="password" th:if="${fbUser}"
                           th:field="*{password}"/>
                    <input class="form-control" type="password" name="password" th:unless="${fbUser}"
                    />
				</span>
            </div>

            <div class="col-sm-12">
                <input type="submit" value="LOGIN" class="btn btn-default"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>