<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://s-xem.mkocdn.com/bundles/mkoxem/css/xem.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script th:src="@{/js/app.js}"></script>
    <style>
        .modal-1000 {
            max-width: 80%;
            margin: 80px auto;
        }
    </style>
</head>
<body>
<div th:replace="~{layout/layout::header(${user})}"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="photoList">
                <div class="photoListItem" th:each="post: ${posts}" data-id="1402992" data-newly-listed="True"
                     data-nsfw="False">
                    <div class="listItemSeparator"></div>
                    <div class="thumbnail">
                        <a th:href="@{/post/detail/__${post.id}__}" target="_blank" th:title="${post.title}">
                            <img th:src="@{'/'+${post.photoName}}"
                                 th:alt="${post.title}" class="thumbImg">
                        </a>
                    </div>
                    <div class="info">
                        <h2>
                            <a target="_blank" href="/#" th:title="${post.title}" th:text="${post.title}"></a>
                        </h2>
                        <div class="uploader">
                            Đăng bởi <a th:href="@{/uploader/__${post.appUser.id}__}"
                                        th:title="${post.appUser.username}"
                                        th:text="${post.appUser.username}">toikobik</a>
                            <!--                                <time th:text="${currentTime}-${post.getDateUpload().getTime()}"-->
                            <!--                                      th:name="*{post.dateUpload}"></time>-->
                            <time th:text="${post.dateUpload}"
                                  th:name="*{post.dateUpload}"></time>
                        </div>
                        <div class="stats">
                            <div class="viewComments">
                                <span class="votes" th:id="'votes'+${post.id}" title="vote"
                                      th:text="${post.voteCount}"></span>
                                <span class="comments" title="Comments" th:text="${post.commentCount}"></span>
                            </div>
                            <div class="likesWrapper" sec:authorize="isAuthenticated()">
                                <button type="button"
                                        th:onclick="'$(this).click(upVote(\'' + ${post.id} +'\',\''+${user.id} + '\'))'">
                                    upVote
                                    <!--                                            oth:onclick="'like(\'' + ${post.id} +'\',\''+${user.id} + '\');'">like-->
                                </button>
                                <button type="button"
                                        th:onclick="'$(this).click(downVote(\'' + ${post.id} +'\',\''+${user.id} + '\'))'">
                                    downVote
                                    <!--                                            oth:onclick="'like(\'' + ${post.id} +'\',\''+${user.id} + '\');'">like-->
                                </button>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                </div>

                <div id="listEnd"></div>
                <div class="listItemSeparator"></div>
                <p class="loading" style="display: none">
                    <img src="https://s-xem.mkocdn.com/bundles/mkoxem/images/loading.gif" alt="loading">
                    <br>
                    Đang tải thêm ảnh...
                </p>
            </div>

            <div class="tag-footer">
                <br><br><br><br>
            </div>
            <div>
                <a class="buttons nextListPage" style="" th:href="@{'/'(page=${posts.number + 1})}"
                   title="xem thêm, còn nhiều lắm">xem thêm, còn nhiều lắm</a>
            </div>
            <div th:replace="~{layout/layout::footer}"></div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
</body>
</html>