<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/layout::head('vote page')}"></head>
<body>
<div th:replace="~{layout/layout::header(${user})}"></div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-sm-10 col-md-8 col-lg-6">
            <div class="content border rounded-lg p-3 mb-3 mt-4" th:each="post: ${posts}" th:id="'postCurrent-'+${post.id}">
                <th:block sec:authorize="isAuthenticated()">
                    <div sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <button type="button" class="close" th:onclick="'deletePost(\'' +${post.id}+ '\');'">×</button>
                    </div>
                </th:block>
                <h5><a target="_blank" th:href="@{/post/detail/__${post.id}__}"
                       th:title="${post.title}" th:text="${post.title}" style="text-decoration: none; color: black"></a>
                </h5>
                <small>Đăng bởi <a th:href="@{/uploader/__${post.appUser.id}__}" th:title="${post.appUser.username}"
                                   th:text="${post.appUser.username}"></a>
                    <time th:text="${post.dateUpload}"
                          th:name="*{post.dateUpload}"></time>
                </small>
                <a data-toggle="modal" th:href="'#myModal'+${post.id}" target="_blank" th:title="${post.title}">
                    <img th:src="@{'/'+${post.photoName}}"
                         th:alt="${post.title}" class="img-fluid mx-auto d-block">
                </a>
                <th:block sec:authorize="isAuthenticated()">

                    <div class="btn-group btn-group-sm btn-block mt-2 fa-border rounded-lg"
                         th:onload="'checkLikeStatus(\'' + ${post.id} +'\',\''+${user.id} + '\')'">
                        <button class="btn " type="button"
                                th:onclick="'$(this).click(upVote(\'' + ${post.id} +'\',\''+${user.id} + '\'))'">
                            <i class="fas fa-caret-up" style='font-size: 2.3em;color:black'></i><span
                                style="font-weight: bold">&nbsp;Up&nbsp;</span>
                        </button>
                        <button class="btn" disabled>
                            <h5><span class="votes" th:id="'votes'+${post.id}" title="vote"
                                      th:text="${post.voteCount}" style="font-weight: bold"></span></h5>
                        </button>
                        <button type="button" class="btn"
                                th:onclick="'$(this).click(downVote(\'' + ${post.id} +'\',\''+${user.id} + '\'))'">
                            <i class="fas fa-caret-down" style='font-size: 2.3em;color:black'
                            ></i><span
                                style="font-weight: bold">&nbsp;Down&nbsp;</span>
                        </button>
                        <button type="button" class="btn" th:onclick="'goDetail(\'' + ${post.id} +'\')'">
                            <i style='font-size:1.9em' class='far'>&#xf27a;</i><span style="font-weight: bold">&nbsp;Comment&nbsp;</span><span
                                class="comments" title="Comments"
                                th:text="${post.commentCount}"></span>
                        </button>
                    </div>
                </th:block>

                <!-- The Modal -->
                <div class="modal fade" th:id="'myModal'+${post.id}">
                    <div class="modal-dialog modal-1000">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <!--                                <p th:text="${post.title}"></p>-->
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <img th:src="@{'/'+${post.photoName}}"
                                             th:alt="${post.title}" class="img-fluid rounded-lg">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="media border p-3 shadow">
                                            <img th:src="@{'/'+${post.appUser.avatarFileName}}" alt="John Doe"
                                                 class="rounded-circle" style="width:60px;">
                                            <div class="media-body">
                                                <h4 th:text="${post.appUser.username}"><small><i>Posted on February 19,
                                                    2016</i></small></h4>
                                                <p th:text="${post.title}"></p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <a th:href="@{/post/detail/__${post.id}__}">
                                    <button style='font-size:24px'>Comment <i class='far fa-comment-alt'></i></button>
                                </a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1 col-md-2 col-lg-2">
        </div>
    </div>
</div>


<table>
    <tr>

    </tr>
</table>

</body>
</html>